<% provide(:title, "Fatal Error") %>
<div class="ink-alert block error" role="alert">
    <h4>Fatal Error</h4>
    <p><strong><%= @msg %></strong></p>
    <p>You may either go <%= link_to "back to your last page", "javascript:history.go(-1)" -%> or <%= link_to "go to the home page", root_path -%>.</p>
</div>