<h2>Admin Login</h2>
<form class="ink-form">
  <div class="control-group">
    <label for="email">Email</label>
    <div class="control">
      <input id="email" name="email" type="text">
    </div>
  </div>
  <div class="control-group">
    <label for="email">Password</label>
    <div class="control">
      <input id="password" name="password" type="password">
    </div>
  </div>
  <input type="submit" class="ink-button" value="Login" />
</form>